################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Misha-Calculator/v16
/Misha_Calculator-master/.vs/Misha-Calculator/v16/.suo
