################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Misha-Calculator/v16
/Misha_Calculator-master/.vs/Misha-Calculator/v16/.suo
/Misha-Calculator/obj/Debug/App.g.cs
/Misha-Calculator/obj/Debug/MainWindow.g.cs
/Misha-Calculator/obj/Debug/Misha-Calculator.csproj.CoreCompileInputs.cache
/Misha-Calculator/obj/Debug
/Misha_Calculator_Android/bin/Debug
/Misha_Calculator_Android/obj/.cache
/Misha_Calculator_Android/obj/Debug/*
/Misha_Calculator_Android/obj/Release/*
